<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.cafe24.iumium.lesson.attendance.dao.AttendanceMapper">
	
	<!--과목 조회 쿼리문 -->
	<select id="getSubjectList" parameterType="com.cafe24.iumium.lesson.schedule.dto.Search" resultType="com.cafe24.iumium.manage.lecture.dto.SubjectCode">
		select distinct subject_name_korean as subjectNameKorean,
		subject_code as subjectCode
		from haksa_subject
		where subject_code
		in (select subject_code from haksa_lecture_status where class_by_department_number
		in (select class_by_department_number from haksa_class_by_department where class_by_department_grade=#{gradeCode} and class_by_department_class=#{classesCode} and dept_code=(select dept_code from haksa_department where dept_name_korean=#{departmentCode})));
    </select>
    
    <!--강의일자 조회 쿼리문 -->
	<select id="getLectureDateList" parameterType="String" resultType="com.cafe24.iumium.lesson.schedule.dto.Schedule">
		select distinct prelect_date as prelectDate
		from haksa_schedule
		where lecture_status_number=
		(select lecture_status_number from haksa_lecture_status where subject_code=
		(select subject_code from haksa_subject where subject_name_korean=#{subjectCode}))
    </select>
    
    <!--수강신청한 학생 조회 쿼리문 -->
	<select id="getCourseList" parameterType="com.cafe24.iumium.lesson.schedule.dto.Search" resultType="com.cafe24.iumium.courseandscore.dto.EnrolCourse">
		select enrol_course_dept_name as enrolCourseDeptName,
		enrol_course_school_year as enrolCourseSchoolYear,
		enrol_course_student_number as enrolCourseStudentNumber
		from haksa_enrol_course
		where enrol_course_dept_name=#{departmentCode}
		and enrol_course_school_year=#{gradeCode}
		and enrol_course_class=#{classesCode}
		and enrol_course_course_name=#{subjectCode}
    </select>
    
    <!--학생 이름 검색 쿼리문 -->
	<select id="getStudentName" parameterType="String" resultType="java.lang.String">
		select human_name as humanName
		from ilban_human
		where student_teacher_no=#{enrolCourseStudentNumber}
    </select>
    
    <!--출석부 출결 조회 쿼리문 -->
	<select id="getAttendanceList" parameterType="com.cafe24.iumium.lesson.schedule.dto.Search" resultType="com.cafe24.iumium.lesson.attendance.dto.Attendance">
		select a.attendance_no as attendanceNo, e.enrol_course_student_number as studentNumber, e.enrol_course_prof_name as professorName, a.attend_state as attendState
		from haksa_enrol_course e join haksa_attendance a on a.enrol_course_no=e.enrol_course_no
		where e.enrol_course_no in (select enrol_course_no from haksa_attendance where schedule_no in 
		(select schedule_no from haksa_schedule where prelect_date=#{prelectDate}))
		and enrol_course_dept_name=#{departmentCode}
		and enrol_course_school_year=#{gradeCode}
		and enrol_course_class=#{classesCode}
		and enrol_course_course_name=#{subjectCode}
    </select>
    
    <!--결석이유 조회 쿼리문 -->
	<select id="getAbsentReason" parameterType="String" resultType="String">
		select absent_reason from haksa_absent_reason where attendance_no=#{attendanceNo}
    </select>
</mapper>